$dfFont: 'Ubuntu Regular';
$bFont: 'Ubuntu';
$mFont: 'Ubuntu Medium';

/* bg color */
    html, body {
        background-color: #EEF5FF;

        font-family: $dfFont;
    }
/* */

/* container */
    .---container {
        transform: scale(1.9);
        transform-origin: center;

        position: fixed;
        inset: 0;
        margin: auto;

        width: 37rem;//42.5rem;
        height: 23rem;//26.6rem;

        background-color: #FFFF;
        border-radius: 0.50rem;

        box-shadow: 0px 5px 8px #0000000c;

        /* svg */
            #p-svg {
                transform: scale(0.615);
                width: fit-content;
                position: relative;

                z-index: -1;

                top: -30.25rem;
                left: -2.5rem;
            }
        /* */

        /* buttons */
            /* general */
                #-btn {
                    transform: scale(0.88);
                    position: absolute;

                    top: 19.5rem;
                    left: 27rem;

                    width: 5.2rem;
                    height: 2.2rem;

                    border: 0;
                    border-radius: 0.4rem;

                    background-color: #194A8A;

                    font-family: $mFont;
                    font-size: 0.7rem;

                    color: white;

                    /* hover */
                        &:hover {
                            cursor: pointer;

                            background-color: #03295A;
                        }
                    /* */
                }
            /* */

            /* back */
                #-b-btn {
                    transform: scale(0.88);
                    position: absolute;

                    top: 19.5rem;
                    left: 13.6rem;

                    width: 5.2rem;
                    height: 2.2rem;

                    border: 0;
                    border-radius: 0.4rem;

                    background-color: transparent;

                    font-family: $mFont;
                    font-size: 0.7rem;

                    color: #8F8F98;

                    /* hover */
                        &:hover {
                            cursor: pointer;

                            color: #03295A;
                        }
                    /* */
                }
            /* */
        /* */

        /* steps */
            /* container */
                .-st {
                    transform: scale(1.01);
                    user-select: none;

                    position: absolute;
                    display: flex;
                    flex-direction: column;

                    left: -0.2rem;

                    gap: 0.5rem;

                    p, span {
                        position: relative;
                        margin-top: 0.1rem;

                        font-size: 0.65rem;

                        color: #FFFF;
                    }

                    p {
                        letter-spacing: 0.08rem;
                        font-family: $dfFont;
                        font-weight: bold;
                    }

                    h1 {
                        width: 1.5rem;
                        height: 1.5rem;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        font-size: 0.55rem;
                        
                        border: 0.1rem solid #FFFF;
                        border-radius: 100%;

                        color: #FFFF;
                    }
                }

                #ddt {
                    #st-- {
                        transform: scale(0.89);
                    }
                }
            /* */

            /* first */
                .-fst-st {
                    display: flex;
                    flex-direction: row;

                    gap: 0.8rem;
                }
            /* */

            /* second */
                .-snd-st {
                    display: flex;
                    flex-direction: row;

                    gap: 0.8rem;
                }
            /* */
            
            /* third */
                .-trd-st {
                    display: flex;
                    flex-direction: row;

                    gap: 0.8rem;
                }
            /* */

            /* fourth */
                .-fth-st {
                    display: flex;
                    flex-direction: row;

                    gap: 0.8rem;
                }
            /* */
        /* */

        /* general texts */
            .---ga {
                p {
                    font-family: $bFont;
                    font-size: 1.25rem;
                    font-weight: 800;
                    width: fit-content;
                    margin: 0;
                        
                    color: #0B2C5E;
                }

                /* span */
                    span {
                        font-family: $dfFont;
                        font-size: 0.63rem;
                        font-weight: 100;
    
                        color: #91919c;
                    }
                /* */
            }
        /* */

        /* first */
            .--fst-yi {
                position: relative;
                left: 16.3rem;
                top: 0.8rem;

                width: 20rem;
                height: 24rem;
            }

            /* p & span */
                #ps {
                    position: relative;
                    width: fit-content;

                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;
                }
            /* */

            /* input & label */
                #is {
                    display: flex;
                    flex-direction: column;
                    
                    gap: 0.4rem;
                    height: 20rem;

                    /* only input */
                        input {
                            
                            width: 83%;
                            padding: 0.4rem;
                            height: 1.1rem;
            
                            border: 0.063rem solid #CCCCCC;
                            border-radius: 0.35rem;

                            font-family: $mFont;
                            color: #0B2C5E;
                            font-size: 0.62rem;

                            outline: none;

                            margin: 0;
            
                            /* placeholder */
                                &::placeholder {
                                    position: relative;
                                    top: -0.06rem;
                                    left: 0.1rem;

                                    height: 1rem;

                                    font-size: 0.58rem;
                                    font-family: $mFont;

                                    color: #a7a7b2;
                                }
                            /* */

                            /* focus */
                                &:focus {
                                    border: 0.085rem solid #6760ad;
                                }
                            /* */
                        }
                    /* */

                    /* only label */
                        label {
                            left: 0.02rem;
                            width: fit-content;

                            letter-spacing: -0.02rem;

                            font-family: $dfFont;
                            font-size: 0.63rem;

                            color: #0B2C5E;
                        }
                    /* */

                    /* input & label */
                        input, label {
                            position: relative;
                            display: flex;
                            flex-direction: column;
    
                            top: 1.2rem;
                            margin-top: 0.45rem;
                        }
                    /* */
                }

            /* */
        /* */

        /* second */
            .--snd-sp {
                position: relative;

                left: 16.3rem;
                top: 0.8rem;

                width: 20rem;
                height: 24rem;

                #syp {
                    position: relative;
                    left: -1.9rem;
                }

                /* toggle */
                    .tg- {
                        user-select: none;
                        
                        position: relative;
                        top: 2.3rem;
                        left: -0.78rem;

                        width: 87.5%;
                        height: 1.7rem;

                        border-radius: 0.35rem;

                        background-color: #F8F9FE;

                        /* m & y */
                            #m-, #y- {
                                position: relative;
                                top: -0.05rem;
                                left: 0.5rem;

                                margin: 2rem;
                                
                                font-family: $dfFont;
                                font-size: 0.62rem;
                                font-weight: bolder;

                                color: #787881;
                            }
                        /* */
                    }

                    #cb- {
                        display: none;
                    }

                    .switch- {
                        position: relative;
                        display: flex;
                        align-items: center;

                        left: 5.78rem;
                        top: 1.18rem;

                        cursor: pointer;

                        width: 1.4rem;
                        height: 0.45rem;
                        padding: 0.25rem;

                        border-radius: 40px;

                        background-color: #032858;
                        
                        transition: all 0.15s ease-in-out;
                    }

                    .slider- {
                        position: absolute;

                        width: 0.55rem;
                        height: 0.6rem;

                        border-radius: 50%;
                        
                        background-color: #FFFF;
                        
                        transition: all 0.15s ease-in-out;
                    }

                    #cb-:checked ~ .switch- {
                        background-color: #032858;
                    }
                    
                    #cb-:checked ~ .switch- .slider- {
                        transform: translateX(0.9rem);
                    }

                    /* m & l */
                        #cb-:not(:checked) ~ #m- {
                            color: #032858;
                        }

                        #cb-:checked ~ .switch- ~ #y- {
                            color: #032858;
                        }
                    /* */

                    /* checkbox size */
                        #c--- {
                            transform: scale(0.88);
        
                            position: relative;
                            left: 2rem;
                            top: -0.75rem;
                        }
                    /* */
                /* */

                #sr {
                    transform: scale(1.1);
                }

                /* rs */
                    #rs {
                        position: absolute;
                        display: flex;
                        flex-direction: row;

                        top: 0%;
                        left: 0%;
                        transform: translate(-4.5%, 18%);

                        /* only input */
                            input {
                                position: absolute;
                                top: 0%;
                                left: 0%;
                                transform: translate(-10%, -90%);
                                
                                left: -0.4rem;

                                z-index: 1;
                                
                                appearance: none;

                                width: 5.5rem;
                                height: 6.5rem;
                                
                                border: 0.063rem solid #CCCCCC;
                                border-radius: 0.35rem;

                                /* checked */
                                    &:checked {
                                        background-color: #f7f9ff;
                                        border: 0.085rem solid #6760ad;
                                    }
                                /* */

                                /* hover */
                                    &:hover {
                                        cursor: pointer;
                                    }
                                /* */
                            }
                        /* */

                        /* only label */
                            label {
                                z-index: 2;
                                position: absolute;

                                margin: 0;

                                color: #0B2C5E;

                                font-family: $dfFont;
                                font-weight: bold;
                            }

                            /* label & span */
                                label, span {
                                    display: flex;
                                    flex-direction: column;

                                    font-size: 0.65rem;
                                }
                            /* */
                        /* */

                        /* only span */
                            span {
                                font-weight: normal;
                                color: #ababb7;
                            }
                        /* */

                        /* input & label */
                            input, label {
                                position: relative;
                                top: 1.2rem;
                            }
                        /* */

                        /* label & span*/
                            label, span {
                                position: relative;
                                margin-top: -1.2rem;
                            }
                        /* */
                    }

                    /* img */
                        img {
                            position: relative;
                            top: -3.8rem;
                            width: 1.5rem;
                        }
                    /* */

                    /* img & label */
                        img, label {
                            cursor: pointer;
                        }
                    /* */

                    /* ym */
                        .ym {
                            position: absolute;
                            top: 1.68rem;

                            font-size: 0.45rem;
                        }
                    /* */

                    #rs {
                        position: relative;
                        left: 0.7rem;
                        top: 4.3rem;
                    }
                /* */
            }
        /* */

        /* third */
            .--trd-ao {
                position: relative;
    
                left: 15.5rem;
                top: 0.8rem;
    
                width: 20rem;
                height: 24rem;

                #pey {
                    position: relative;
                    left: -1rem;
                }
    
                #gtrd- {
                    transform: scale(1.1);
                    position: relative;
                    top: 2rem;
                    height: 20rem;
    
                    div {
                        display: flex;
                        margin-top: 0.5rem;
                        gap: 0.7rem;
                    }

                    label, span {
                        user-select: none;
                    }
                }

                /* input */
                    input {
                        cursor: pointer;

                        transform: scale(0.9);
                        position: relative;
                        appearance: none;

                        width: 0.8rem;
                        height: 0.8rem;
                        top: 0.3rem;

                        border: 0.009rem solid #bdbdbd;
                        border-radius: 0.16rem;

                        /* checked */
                            &:checked {
                                border: 0.009rem solid #5245FC;
                                background-color: #5245FC;
                            }
                        /* */
                    }
                /* */

                /* svg */
                    #onl {
                        svg {
                            position: absolute;
                            display: none;

                            left: 0.9rem;
                            top: 1.0752rem;

                            width: 0.45rem;
                            pointer-events: none;
                        }
    
                        /* checked */
                            input[type="checkbox"]:checked + label {
                                .checkbox-svg {
                                    display: block;
                                }
                            }
                        /* */
                    }

                    #lar {
                        svg {
                            position: fixed;
                            display: none;

                            left: 0.9rem;
                            top: 4.6rem;

                            width: 0.45rem;
                            pointer-events: none;
                        }
    
                        /* checked */
                            input[type="checkbox"]:checked + label {
                                .checkbox-svg {
                                    display: block;
                                }
                            }
                        /* */
                    }

                    #cst {
                        svg {
                            position: absolute;
                            display: none;

                            left: 0.9rem;
                            top: 8.1rem;

                            width: 0.45rem;
                            pointer-events: none;
                        }
    
                        /* checked */
                            input[type="checkbox"]:checked + label {
                                .checkbox-svg {
                                    display: block;
                                }
                            }
                        /* */
                    }
                /* */

                /* only label */
                    #ey {
                        font-size: 0.63rem;
                    }

                    label {
                        display: flex;
                        flex-direction: column;

                        font-size: 0.55rem;
                        font-weight: bold;

                        color: #0B2C5E;
                    }
                /* */

                /* only span */
                    span {
                        letter-spacing: -0.02rem;

                        font-size: 0.5rem;
                        font-weight: normal;

                        color: #7c7c84;
                    }
                /* */
                
                /* p */
                    label p {
                        margin-top: 0.5rem;
                        color: #5245FC;
                    }
                /* */

                /* label & span */
                    label, span {
                        margin-top: 0.24rem;
                    }
                /* */
                
                #onl {
                    display: flex;
                    width: 83%;
                    padding: 0.4rem;
                    height: 2.1rem;

                    border: 0.07rem solid #d0d0d0;
                    border-radius: 0.3rem;

                    p {
                        position: absolute;
                        margin-left: 12rem;
                    }
                }

                #lar {
                    display: flex;
                    width: 83%;
                    padding: 0.4rem;
                    height: 2.1rem;

                    border: 0.07rem solid #d0d0d0;
                    border-radius: 0.3rem;

                    p {
                        position: absolute;
                        margin-left: 12rem;
                    }
                }

                #cst {
                    display: flex;
                    width: 83%;
                    padding: 0.4rem;
                    height: 2.1rem;

                    border: 0.07rem solid #d0d0d0;
                    border-radius: 0.3rem;

                    p {
                        position: absolute;
                        margin-left: 12rem;
                    }
                }
            }
        /* */

        /* fourth */
            .--fth-sm {
                position: relative;
    
                left: 15.5rem;
                top: 0.8rem;
    
                width: 20rem;
                height: 24rem;

                .i-- {
                    position: relative;
                    top: 1.7rem;

                    width: 91.5%;
                    background-color: #F8F9FE;
                    border-radius: 0.18rem;

                    /* p */
                        p , span{
                            position: relative;
                            left: 0rem;
                            top: 0.72rem;

                            font-size: 0.55rem;
                            color: #ababb7;
                        }

                        /* wp */
                            #-wp {
                                width: fit-content;
                                margin: 0;

                                letter-spacing: -0.015rem;

                                font-family: $mFont;
                                font-size: 0.65rem;
                                color: #0B2C5E;

                                #-wp, button {
                                    display: flex;
                                    flex-direction: column;
                                }

                                /* button */
                                    button {
                                        width: -12.5%;

                                        background-color: transparent;
                                        border: none;

                                        font-size: 0.55rem;

                                        padding: 2.2px 0px;

                                        text-decoration: underline;
                                        color: #ababb7;

                                        /* hover */
                                            &:hover {
                                                cursor: pointer;
                                                
                                                color: #5245FC;
                                            }
                                        /* */
                                    }
                                /* */
                            }
                        /* */

                        /* wpp */
                            #-wpp {
                                margin: 0;
                                width: fit-content;

                                top: 1rem;

                                font-family: $mFont;
                                font-size: 0.65rem;

                                color: #0B2C5E;
                            }
                        /* */

                        /* wao */
                            #-wao {
                                margin: 0;
                            }

                            #-wao span {
                                display: flex;
                                margin-bottom: 0.12rem;
                                
                                width: 5.5rem;
                            }
                        /* */

                        #-wppp {
                            position: relative;
                            display: flex;

                            left: 1em;
                            
                            width: 90%;
                            height: 3rem;

                            gap: 8rem;

                            border-bottom: 0.07rem solid #d0d0d0;
                        }
                        
                        #-waop {
                            position: relative;
                            display: flex;
                            flex-direction: row;

                            top: -0.6rem;
                            left: 1rem;

                            gap: 8.7rem;

                        }

                        #-ap {
                            color: #0B2C5E;
                        }
                    /* */
                }
                
                /* total */
                    #-tpp {
                        position: relative;
                        display: flex;
                        flex-direction: row;

                        top: 2rem;

                        /* h1 */
                            h1 {
                                position: relative;
                                left: 9.3rem;
                                top: 0.1rem;
                                font-size: 0.75rem;

                                width: fit-content;
                                height: fit-content;

                                color: #5245FC;
                            }
                        /* */
                    }

                    #-t {
                        position: relative;

                        width: auto;
                        left: 1rem;

                        font-size: 0.65rem;
                        color: #ababb7;
                    }
                /* */
            }
        /* */

        /* final */
            .--cf {
                transform: scale(0.8);

                position: absolute;
                left: 12.45rem;
                top: 4.9rem;

                /* text */
                    h1 {
                        text-align: center;
                        
                        margin-bottom: 0.8rem;
                        
                        font-size: 1.55rem;

                        color: #0B2C5E;
                    }

                    p {
                        text-align: center;

                        font-size: 0.8rem;

                        color: #9b9ba4;
                    }
                /* */

                #d-svg {
                    width: fit-content;
                    position: relative;
                    left: 8.5rem;

                    svg {
                        width: 4.4rem;
                    }
                }
            }
        /* */
    }

    .-s {
        transform: scale(0.88);
    }
/* */

/* error */
    /* label */
        .emr- {
            color: #eb0927 !important;
        }
        .emrs- {
            color: #97767b !important;
        }
        .emp- {
            color: #eb0909 !important;
        }
        .emrb- {
            border: 0.063rem solid #ae0e24 !important;
        }

        .em- {
            position: relative !important;
            top: -2rem !important;
            left: 11.6rem !important;

            width: fit-content !important;
            margin: 0 !important;

            margin-bottom: -0.7rem !important;
            letter-spacing: 0rem !important;
            font-weight: $dfFont;
            font-weight: bold;

            color: #eb0927 !important;
        }

        .ema- {
            position: relative !important;
            top: -2rem !important;
            left: 7.78rem !important;

            width: fit-content !important;
            margin: 0 !important;

            margin-bottom: -0.7rem !important;
            letter-spacing: 0rem !important;
            font-weight: $dfFont;
            font-weight: bold;

            color: #eb0927 !important;
        }

        .emb- {
            position: relative !important;
            top: -2rem !important;
            left: 7.5rem !important;

            width: fit-content !important;
            margin: 0 !important;

            margin-bottom: -0.7rem !important;
            letter-spacing: 0rem !important;
            font-weight: $dfFont;
            font-weight: bold;

            color: #eb0927 !important;
        }
    /* */

    /* border */
        .be- {
            border: 0.063rem solid #ae0e24 !important;
        }
    /* */
/* */

.attribution {
    font-size: 11px;
    font-family: $dfFont;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}